<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= render 'layouts/Rails_default'%>
    <%= render 'layouts/shim' %>
  </head>
  <body id = "home">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
